# Idea
.idea

# Node / Yarn
node_modules/
.pnp.*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

packages/**/**/dist
# Keep Yarn binary + metadata
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Logs & temp
*.log
.DS_Store
.env
